<footer class="footer">
  <div class="inner">
    <div class="footer-elem">
      <div class="travis-footer" aria-hidden=true></div>
    </div>
      <div class="footer-elem">
        <h3 class="footer-title">DET.io</h3>
        <p>
        <a href="https://docs.travis-ci.com/imprint.html">Imprint</a>
        </p>
      </div>
    <div class="footer-elem">
      <h3 class="footer-title">Help</h3>
      <ul>
        <li><a href="https://docs.travis-ci.com">Documentation2</a></li>
          <li><a href="https://blog.travis-ci.com/">Blog2</a></li>
          <li><a href="mailto:support@travis-ci.com">Email2</a></li>
          <li><a href="https://twitter.com/travisci">Twitter2</a></li>
      </ul>
    </div>
        <div class="footer-elem">
          <h3 class="footer-title">Legal</h3>
          <ul>
            <li><a href="https://docs.travis-ci.com/imprint.html">Imprint2</a></li>
            <li><a href="https://billing.travis-ci.com/pages/terms">Terms of Service2</a></li>
            <li><a href="https://billing.travis-ci.com/pages/security">Security Statement2</a></li>
          </ul>
        </div>
      </div>
    <div class="footer-copyright">
        <div class="container">
          <a  href="http://det.io">DET.io</a> © 2016 All Rights Reserved.
    </div>
  </div>
</footer>