<ul class="gn-menu-main no-touch" id="gn-menu">
{{#if auth.signedIn}}
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <div class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li>
                                <a href="market-place.php"><i class=
                                "fa fa-tachometer"></i> <span>Dashboard</span>
                                <span class="selected hidden-xs"></span></a>
                            </li>
                            <li>
                                <a href="app.php"><i class="fa fa-tasks"></i>
                                <span>Apps</span></a>
                            </li>
                            <li>
                                <a href="vm-overview.php"><i class=
                                "fa fa-bar-chart"></i> <span>Virtual
                                Machines</span></a>
                            </li>
                            <li class="start active">
                                <a href="cloud-settings.php"><i class="fa fa-key"></i>
                                <span>SSH Keys</span></a>
                            </li>
                            <li>
                                <a href="billing.php"><i class=
                                "fa fa-money"></i> <span>Billing</span>
                                <span class="selected hidden-xs"></span></a>
                            </li>
                        </ul>
                    </div><!-- /gn-scroller -->
                </div>
            </li>
            <li>
                <a class="codrops-icon codrops-icon-prev add-new" href=
                "#new-modal"><i class="fa fa-plus"></i></a>
            </li>
{{/if}}
  <div class="container">
    <!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
  		<div class="row">
    		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
    		 	<!-- BEGIN LOGO -->  
    			 <a class="navbar-logo" href="http://cloud.det.io">
    			   <img src="http://det.io/image/logo-side.png" alt="DET.io" class="img-responsive" />
    			 </a>
    			 <!-- END LOGO -->
    		</div>
        <div class="pull-right nav"> 
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
        </div>
  		</div>	 
		</div>
  </div>
  <!-- /container -->
</ul>

      <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
<div class="modal-content">
            <h4>Modal Header</h4>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line <br>
                   Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle">folder</i>
                <span class="title">Title</span>
                <p>First Line <br>
                   Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">assessment</i>
                <span class="title">Title</span>
                <p>First Line <br>
                   Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">play_arrow</i>
                <span class="title">Title</span>
                <p>First Line <br>
                   Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
            </ul>
          </div>
  </div>
          
